.section_1-wrapper {
    background-color: #1D1D1D;
}

.section_1 {
    padding: 104px 0 179px 0;
}

.section_1-content {
    height: 206px;
    display: flex;
    justify-content: space-between;
    /* flex-flow: row wrap; */
}

.section_1-content-column {
    /* flex: 0 0 50%; */
    display: flex;
    align-items: center;
}

.section_1-content-line {
    content: "";
    height: 100%;
    width: 1px;
    border: 2px solid #fff;
    background-color: #fff;
    opacity: 0.3;
    margin: 0 30px;
}

.section_1-content-column-header {
    font-family: 'Inter';
    max-width: 475px;
    font-weight: 600;
    font-size: 54px;
    line-height: 68px;
}

.section_1-content-column-content {
    max-width: 475px;
}

.section_1-content-column-content h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;
}

.section_1-content-column-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    margin-top: 16px;
}

.section_1-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 54px;
    line-height: 77px;
    margin-top: 170px;
}

.section_1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 31px;
    margin-top: 97px;
}

.section_1-grid-column {
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    padding: 28px 23px 36px 23px;
    transition: background-color 300ms;
}

.section_1-grid-column:hover {
    background-color: #2E2E2E;
}

.section_1-grid-column-logo {
    width: 101px;
    height: 101px;
    border-radius: 70px;
    background: #FFFFFF;
    border: 2px solid rgba(25, 25, 25, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_1-grid-column-logo img {
    width: 50%;
}

.section_1-grid-column h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-top: 28px; 
}

.section_1-grid-column p {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    margin: 26px 0 22px 0;
}

.section_1-grid-column button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    background: #E3B748;
    border-radius: 23.5px;
    padding: 10px 24px;
}

@media (max-width: 1140px) {
    .section_1 {
        padding-left: 30px; 
        padding-right: 30px;
    }
}

@media (max-width: 900px) {
    .section_1-content-column-header {
        text-align: end;
    }
}

@media (max-width: 680px) {
    .section_1 {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .section_1-grid {
        display: block;
    }

    .section_1-grid-column:nth-child(2) {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .section_1-content-column-header {
        transform: scale(0.75);
    }

    .section_1-content-column-content {
        transform: scale(0.75);
    }
}

@media (max-width: 620px) {
    .section_1-content {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .section_1-content-column {
        justify-content: center;
        align-items: center;
    }

    .section_1-content-line {
        width: 250px;
        align-self: center;
    }

    .section_1-content-column-header {
        text-align: center;
    }

    .section_1-title {
        transform: scale(0.75);
        padding-top: 30px;
        margin-top: 0px;
        text-align: center;
    }

    .section_1-grid {
        margin-top: 50px;
    }
}
